header{
    width: 100%;
    height: 0.45rem;
    background: linear-gradient(90deg,#0af,#0085ff);
    display: flex;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    padding: 0.1rem;
}
header h1{
    font-size: 0.18rem;
    position: absolute;
    left: 50%;
    margin-left: -0.17rem;
}
section{
    height:6rem;
    background: #f5f5f5;
}
section .fourwrap{
    height: 1.1rem;
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg,#0af,#0085ff);
}
section .fourwrap img{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}
section .fourwrap p:nth-of-type(1){
     font-size: 0.2rem;
    margin-bottom: 0.03rem;
}
section .fourwrap p:nth-of-type(2){
    font-size: 0.12rem;
}
section .fourwrap .p-wrap{
     padding: 0.7rem;
    margin-left: -1rem;
}
section .org{
    display: flex;
    background: #fff;
}
section .org a{
    width: 33.3333%;
    height: 0.88rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #ccc;
}
section .org p{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 0.3rem;
    margin-bottom: 0.04rem;
}
section .org a i{
    display: block;
    font-weight: 700;
}
section .org a span{
    display: block;
    color: #666;
    font-size: 0.12rem;
    font-weight: 700;
}
section .lis{
    display: flex;
    height: 0.44rem;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #ddd;
}
section .lis a{
    display: flex;
    justify-content: space-around;
}
section .lis a i{
    display: block;
    font-size: 0.2rem;
}
section .lis a span{
    display: block;
    font-size: 0.16rem;
    color: #333;
    margin-left: 0.1rem;
}
section .one,section .two,section .three{
    border-top: 0.1rem solid #f5f5f5;
}